<h2>Template: <small>Dinámico</small></h2>
<hr>


<form (ngSubmit)="guardar()" autocomplete="off" #dinamicForm="ngForm">

    <!-- Nombre -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
                   ngModel
                   name="nombre"
                   placeholder="Nombre de la persona"
                   required>
            <span class="form-text text-danger"
                  *ngIf="dinamicForm.controls['nombre']?.invalid && dinamicForm.controls['nombre']?.touched">
                Este campo es obligatorio
            </span>
        </div>
    </div>


    <!-- Agregar Favorito -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control" 
                       placeholder="Agregar favorito"
                       [(ngModel)]="nuevoJuego"
                       (keyup.enter)="agregarFavorito()"
                       name="nuevoJuego" >

                <button class="btn btn-outline-primary" 
                        type="button"
                        (click)="agregarFavorito()">
                    Agregar
                </button>
            </div>
            
        </div>
    </div>
    
    
    
    
    <!-- Lista de Juegos Favoritos  -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            
            <div class="input-group mb-1" 
                 *ngFor="let favorito of persona.favoritos; let i = index">
        
                <input 
                    class="form-control" 
                    [name]="'juego_'+ i "
                    [(ngModel)]="favorito.nombre"
                    required>

                <button class="btn btn-outline-danger" 
                        type="button"
                        (click)="eliminar(i)">
                    Eliminar
                </button>
            </div>

            
        </div>
    </div>
    
    

    <div class="row">
        <div class="col-sm-12">
            <button type="button"
                    [disabled]="dinamicForm.invalid"
                    class="btn btn-primary float-end"
                    (click)="guardar()">
                Guardar
            </button>
        </div>
    </div>

</form>


<span>Persona</span>
<pre>{{ persona | json }}</pre>