<h2>Template: <small>Dinámico</small></h2>
<hr>


<form (ngSubmit)="guardar()" autocomplete="off" #dinamicForm="ngForm">

    <!-- Nombre -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
                   ngModel
                   name="nombre"
                   placeholder="Nombre de la persona"
                   required>
            <span class="form-text text-danger"
                  *ngIf="dinamicForm.controls['nombre']?.invalid && dinamicForm.controls['nombre']?.touched">
                Este campo es obligatorio
            </span>
        </div>
    </div>


    <!-- Agregar Favorito -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control" placeholder="Agregar favorito">

                <button class="btn btn-outline-primary" type="button">
                    Agregar
                </button>

            </div>

        </div>
    </div>




    <!-- Lista de Juegos Favoritos  -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">

            <input class="form-control mb-1">

        </div>
    </div>



    <div class="row">
        <div class="col-sm-12">
            <button type="button"
                    [disabled]="dinamicForm.invalid"
                    class="btn btn-primary float-end"
                    (click)="guardar()">
                Guardar
            </button>
        </div>
    </div>




</form>